extends layout

block content
  h1= title
  - var results = [{"icecream_brand": "qualitywalls", "icecream_flavour": "choclate", "calories": 22.3},  {"icecream_brand": "Bluebell", "icecream_flavour": "ButterPecan", "calories": 12.3}, {"icecream_brand": "Magnum", "icecream_flavour": "Teaberry", "calories": 13}];
  div(class="container-fluid")
    div(class="row")
        each item in results
            div.col-sm-2 icecream_brand: #{item["icecream_brand"]} <br> icecream_flavour:  #{item["icecream_flavour"]} <br> calories:  #{item["calories"]}
  