extends layout

block content
  h1= title
  p Generating templates on server side #{title}
  button(type="button", class="btn btn-warning", onClick="doBump()") Press Me 
  
  div(id="bump") Bump the count
  br
  //- a(class="btn btn-info" href="") 

  script.
    var count = 0;
    var bump = 1;
    function doBump() {
      count += bump;
      bump+=1; 
      document.getElementById("bump").innerHTML = "Count "+ count + " with bump " + bump;;
    }

   

