extends layout

block content
  h1= title
  - var image_names =  ["image_1", "image_2", "image_3", "image_4", "image_5"];
  - for(let val=0; val < 3; val++) {
        - let randomNum = Math.floor(Math.random()*5)
        img(src=`/images/${image_names[randomNum]}.jpg`, alt="", height="300px", width="300px")
  - }